---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Steven Archer">
	<main>
		<svg class="center" width="95" height="85" viewBox="0 0 95 85" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M21.8906 61.0781C23.5469 61.0781 25.1719 60.875 26.7656 60.4688C28.3906 60.0312 29.8281 59.4062 31.0781 58.5938C32.3594 57.75 33.3906 56.7344 34.1719 55.5469C34.9531 54.3281 35.3438 52.9219 35.3438 51.3281C35.3438 49.6094 34.8906 48.0469 33.9844 46.6406C33.0781 45.2344 31.875 43.9375 30.375 42.75C28.875 41.5312 27.1406 40.3906 25.1719 39.3281C23.2344 38.2344 21.2344 37.1562 19.1719 36.0938C16.9844 34.9688 14.8125 33.8125 12.6562 32.625C10.5312 31.4062 8.60938 30.0469 6.89062 28.5469C5.20312 27.0156 3.82812 25.2969 2.76562 23.3906C1.73438 21.4531 1.21875 19.2031 1.21875 16.6406C1.21875 14.2656 1.64062 12.0625 2.48438 10.0312C3.32812 8 4.5625 6.25 6.1875 4.78125C7.84375 3.28125 9.875 2.10938 12.2812 1.26562C14.6875 0.421875 17.4375 0 20.5312 0C23.3125 0 25.7969 0.3125 27.9844 0.9375C30.2031 1.5625 32.1406 2.5 33.7969 3.75C35.4844 4.96875 36.9219 6.48438 38.1094 8.29688C39.2969 10.1094 40.2812 12.2031 41.0625 14.5781L37.3125 16.3125C36.7188 14.5 35.9219 12.8438 34.9219 11.3438C33.9531 9.8125 32.7656 8.51562 31.3594 7.45312C29.9531 6.35938 28.3125 5.51562 26.4375 4.92188C24.5625 4.32812 22.4375 4.03125 20.0625 4.03125C17.9375 4.03125 16.0781 4.3125 14.4844 4.875C12.8906 5.40625 11.5625 6.125 10.5 7.03125C9.46875 7.90625 8.6875 8.90625 8.15625 10.0312C7.625 11.125 7.35938 12.25 7.35938 13.4062C7.35938 14.8125 7.8125 16.1562 8.71875 17.4375C9.65625 18.6875 10.875 19.8906 12.375 21.0469C13.9062 22.2031 15.6406 23.3281 17.5781 24.4219C19.5156 25.4844 21.5 26.5469 23.5312 27.6094C25.7812 28.7656 28.0312 30 30.2812 31.3125C32.5312 32.5938 34.5625 34.0312 36.375 35.625C38.1875 37.1875 39.6562 38.9219 40.7812 40.8281C41.9375 42.7031 42.5156 44.8125 42.5156 47.1562C42.5156 49.625 42.0625 51.9531 41.1562 54.1406C40.25 56.2969 38.9062 58.1875 37.125 59.8125C35.3438 61.4062 33.1094 62.6719 30.4219 63.6094C27.7656 64.5469 24.6719 65.0156 21.1406 65.0156C18.3281 65.0156 15.7969 64.6875 13.5469 64.0312C11.2969 63.375 9.29688 62.4219 7.54688 61.1719C5.82812 59.8906 4.34375 58.3438 3.09375 56.5312C1.875 54.6875 0.84375 52.5938 0 50.25L3.98438 48.6094C4.60938 50.5781 5.48438 52.3281 6.60938 53.8594C7.76562 55.3906 9.10938 56.7031 10.6406 57.7969C12.1719 58.8594 13.8906 59.6719 15.7969 60.2344C17.7031 60.7969 19.7344 61.0781 21.8906 61.0781Z"/>
			<path d="M65.25 21.0469L79.875 52.8281L94.5 84.6094H85.5469L76.0781 63.8906H48.5625L38.8594 84.6094H33.7969L63.5156 21.0469H65.25ZM50.4844 59.8594H74.1562L62.25 34.5938L50.4844 59.8594Z" />
		</svg>
		<h1>Steven Archer</h1>
		<span>New portfolio under construction...</span>
		<ul class="center">
			<li><a href="https://github.com/stevenarcher/">GitHub</a></li>
			<li><a href="https://www.linkedin.com/in/archersteven/">LinkedIn</a></li>
			<li><a href="https://www.instagram.com/stevenarcher/">Instagram</a></li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
		text-align: center;
	}
	svg {
		width: 80vw;
		height: 80vh;
		& path {
			fill: rgba(256,256,256,0.2);
		}
	}
	.center {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}
	span {
		font-style: italic;
		color: rgb(var(--accent-dark));
		margin: auto;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom:0;
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
